body {
    background: #141e30; /* fallback for old browsers */
    background: linear-gradient(to right, #000012, #141e30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #ffffff;
}

.centered {
    text-align: center;
    vertical-align: middle;
}
